.tile {
    height: 70px;
    width: 70px;
    justify-content:center;
    align-items:center;
    display:flex;
    text-align:center;
}

.row {
    display:flex;
}

.light-tile {
    background-color: #bfa693;
}

.dark-tile {
    background-color: #705947;
}